<!DOCTYPE html>
<html  >
<head>
    <meta charset="UTF-8">
    <title>AngularJs & Web Api App</title>

    <link rel="stylesheet" href="css/mystyles.css">
<style>

</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/dataServices/productService.js"></script>
    <script src="js/dataServices/loginService.js"></script>
    <script src="js/controllers/productController.js"></script>
    <script src="js/controllers/authorizationController.js"></script>
    <script src="js/controllers/registrationController.js"></script>
</head>

<body ng-app="myApp">
<header id="app-header">
    <a href="/src/index.html#!/main">
 <div class="app-header main-image"></div>
    </a>
<div class="app-header" ng-controller="authorizationController as $ctrl">
    <div ng-switch on="IsLogged">
        <form name="authorizationForm">
                <div ng-switch-when="false">
            <table class="authorization-form">
                <tr>
                    <td> <label>Login: </label></td>
                    <td> <input class="" type="text" ng-model="user.name" required/></td>
                </tr>
                <tr>
                    <td> <label>Password: </label></td>
                    <td> <input class="" type="password" ng-model="user.password" required/></td>
                </tr>
                <tr>
                    <td><button class="" ng-click="authorization(user,authorizationForm)" class="login-button">Login</button></td>
                </tr>
            </table>
                </div>
                <div ng-switch-when="true">
                    <label>Welcome</label>
                    <button class="" ng-click="logout()">Logout</button>
                </div>
        </form>
        <div ng-switch-when="false" class="registration-table" ng-controller="registrationController as $ctrl">
            <button class="" ng-click="$ctrl.open()">Register Now</button>
        </div>
    </div>
</div>
</header>
<hr>

<div class="main-application-frame"  ng-view>
</div>
</body>
</html>