<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Product Information</h3>
</div>
<div class="modal-body" id="modal-body">
    <table>
        <tr>
            <td><label>Name: </label></td>
            <td><input type="text" ng-model="$ctrl.selected.product.Name"/></td>
        </tr>
        <tr>
            <td><label>Price: </label></td>
            <td><input type="text" ng-model="$ctrl.selected.product.Price"/></td>
        </tr>
        <tr>
            <td><label>Quantity: </label></td>
            <td><input type="text" ng-model="$ctrl.selected.product.Quantity"/></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="" type="button" ng-click="$ctrl.ok($ctrl.selected.product)">OK</button>
    <button class="" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>