#app-header{
    padding: 10px;
    height:5%;
    margin-left: 15%;
    margin-right: 15%;
}

.app-header{
    padding: 5px;
    background-color: white;
    display:inline-block;
}


.add-product-form{
    border: 2px solid black;
    border-radius: 5px;
    max-width: 20%;
    min-width: 10%;
    padding:5px;
    margin: 5px;
    min-width:350px;
    float:left;
}
.products-list{
    margin-right:15%;
    margin-left: 15%;
}

.new-product{
    max-width:100%;
    min-width:50%;
}

.form-control{
    margin: 2px;
}

.products{
    display: inline-block;
}

.product-values{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#second-column{
    float:right;
    border: 2px solid black;
    border-radius: 5%;
    margin: 5px;
}

#product-list-label{
    text-align: center;
    padding: 5px;
    padding-left: 25%;
}

/*                    Edit Modal Window            */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    min-width: 150px;
}
.close-edit-modal-window {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-edit-modal-window:hover,
.close-edit-modal-window:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*                 Edit Modal Window                  */


button{
 border-radius: 5px;
    background-color:royalblue;
    color: white;
}

input{
    padding-left: 5px;
    margin: 2px;
    border-radius: 5px;
}


.main-page{
    min-height: 800px;
    max-height: 1000px;
    width: 100%;
    overflow-y: hidden;
    margin-left: 15%;
    margin-right: 15%;
    display: inline-block;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
}
.left-navigation-bar{
    height: 100%;
    width:15%;
    height: auto!important; min-height: 600px; height: 200px;
    display: inline-block;
    border: 2px solid black;
}

.center-navigation-bar{
    height: 100%;
    width:15%;
    height: auto!important; min-height: 600px; height: 200px;
    width: 55%;
    display: inline-block;
    border: 2px solid black;
}

.registration-page{
    margin-right: 15%;
    margin-left: 15%;
    padding-right: 15%;
    padding-left: 15%;
    min-height: 800px;
    max-height: 1000px;
    overflow-y: hidden;
}

.main-image {
    width: 100px;
    height: 100px;
    background-position: -920px -110px;
    background-image: url("../js/img/pokeballs.png");
}
.main-image:hover,
.main-image:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
